@media only screen and (max-width: 980px){
    .top-nav {display: none;}

    .nav-li {width: calc(100% / 6);}
    
    .header-content-right {
        width: 300px;
        margin-right: 40px;
    }

    /* banner */
    .container {
        position: relative;
        display: initial;
    }

    .banner-text {
        position: absolute;
        width: 70%;
        top: 0;
        left: 180px;
    }    

    .banner-text h1 {
        margin: 0.9375em 0 0.17857em 0;
    }

    .banner-text h3 {
        font-size: 15px;
    }

    .banner-links {
        position: absolute;
        width: initial;
        font-size: 15px;
        bottom: 20%;
        left: 180px;
    }

    /* footer */
    footer {height: 80px; position: relative;}

    .footer-row {
        display: initial;
    }

    .footer-row ul {display: inline-block}

    .footer-middle {float: right}

    .footer-right {
        position: absolute;
        right: 20px;
        bottom: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 767px){
    header {
        height: 60px;
        padding: 0 10px;
    }

    .brand-logo {border-right: none;}

    .brand-profile {display: none;}

    .header-content-right {
        margin-right: 10px;
        width: auto;
    }

    .header-content-right form, .header-content-right div {display: none}

    #mobile-sidebar-trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #bbbbbb;
        height: 35px;
        width: 35px;
        float: right;
        background-color: #EBEDE8;
        border-radius: 4px;
    }

    .banner-text {
        width: auto;
    }

    .banner-links {
        font-size: 12px;
        bottom: 7%;
    }

    .banner-links li {
        display: block;
        margin-bottom: 5px;
    }

    .profile-nav {display: none}

    .mobile-profile-nav {display: initial;}

    .tab-content {flex-wrap: wrap;}

    .tab-content-left {
        width: 100%;
        margin-bottom: 15px;
    }

    .tab-content-right {
        width: 100%;
    }

    .side-box {
        margin-left: 0;
    }

    footer {background-color: #585754;}

    .footer-left, .footer-middle {display: none;}

}